.App {
  display: flex;
  flex-direction: column;
  align-items: center;

}

img {
  border: #282c34 2px solid;
  border-radius: 16px;
  box-shadow: 4px 4px rgba(51, 49, 49, 0.164);
  width: 200px;
  margin-bottom: 32px;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  max-width: 50%;
  margin: 8px 16px;
  border: #282c34 1px solid;
  border-radius: 8px;
  background-color: rgba(201, 201, 201, 0.815);
  box-shadow: 4px 4px rgba(51, 49, 49, 0.397);
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
